/* Sidebar styles */
  .sidebar {
    width: 250px;
    background-color: #85C25C;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: -250px; /* Initially, push it to the left side */
    top: 0;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease; /* Transition left property */
  }

/* Open sidebar when the .profile-container has the .sidebar-open class */
  .profile-container.sidebar-open .sidebar {
    left: 0;
  }

/* Styles for heading inside the sidebar */
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

/* Styles for unordered lists inside the sidebar */
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

/* Styles for list items inside the sidebar */
  .sidebar li {
    margin-bottom: 10px;
  }

/* Styles for links inside the sidebar */
  .sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  /* Sidebar Toggle Button styles */
  .sidebar-toggle {
    cursor: pointer;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #85C25C;
    z-index: 1;
  }

/* Styles for the toggle button lines */
  .toggle-lines {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    span {
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition: transform 0.3s ease;
    }
  }

/* Animation for toggle button lines when sidebar is open */
  .profile-container.sidebar-open .toggle-lines span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
  }
  
  .profile-container.sidebar-open .toggle-lines span:nth-child(2) {
    opacity: 0;
  }
  
  .profile-container.sidebar-open .toggle-lines span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
  }
  
