/* Container styles */
.profile-picture-right {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-container {
  position: relative;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #85C25C;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: -250px; /* Initially, push it to the left side */
  top: 0;
  height: 100%;
  overflow-y: auto;
  transition: left 0.3s ease; /* Transition left property */
}

/* Open sidebar when the sidebar-open class is applied */
.profile-container.sidebar-open .sidebar {
  left: 0;
}

.pencil-icon {
  position: fixed;
  font-size: 20px;
  top: 20px;
  right: 25px; /* adjust based on your preference */
  cursor: pointer;
  transition: left 0.3s ease;
}

.pencil-icon:hover {
  transform: scale(1.2); 

}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Sidebar Toggle Button styles */
.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.toggle-lines {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.toggle-lines span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

/* Animate the toggle button lines when the sidebar is open */
.profile-container.sidebar-open .toggle-lines span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.profile-container.sidebar-open .toggle-lines span:nth-child(2) {
  opacity: 0;
}

.profile-container.sidebar-open .toggle-lines span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

/* Additional profile information */
.main-content {
  flex: 1;
  padding: 20px;
  position: relative;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out; 
  cursor: pointer;
}

.profile-pic:hover {
  transform: scale(1.2); 

}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 24px;
  margin: 0;
}

.user-username {
  font-size: 18px;
  margin: 0;
}

.add-post-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out; 
}
.add-post-btn:hover {
  transform: scale(1.2); 
}

/* Post editor modal */
.post-editor-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin-top: 20px;

  width: 700px;
  overflow: hidden;
}

.post {
  margin-bottom: 20px;
  position: relative;
}

.posts-container img {
width:100%;  
height: fit-content;
  object-fit: contain;
}

.love-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 5px 0;
  position: absolute;
  padding: 5px 10px;
  bottom: 10px;
  right:10px
}

.liked {
  color: red;
}

.post-caption {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.post-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100px;
  border-radius: 5%;

}

.post-dropdown button {
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.exit-button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-button:hover {
  background-color: #ddd;
}

.bio-section {
  position: fixed;
  top: calc(20px + 60px + 10px); /* original top of profile-pic + height of profile-pic + a little margin */
  right: 20px; /* same as profile-picture-right */
  width: 250px; /* adjust this based on your requirement */
  background-color: #fff; /* Adding a background for clarity */
  padding: 15px; /* Give it some padding for aesthetics */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for aesthetics */
  z-index: 2; /* to ensure it overlays other content if needed */
}

.edit-button {
  position: absolute;
  padding: 5px 10px;
  top: -8px;
  right: 58px; /* Adjust this value based on your preference and the space needed */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size if needed */
  color: #333; /* Adjust color if needed */
}

.edit-button:hover {
  color: #555; /* Darker shade for hover effect. Adjust if needed */
}

.options-button {
  position: absolute;
  padding: 5px 10px;
  top: -2px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size if needed */
  color: #333; /* Adjust color if needed */
}

.options-button:hover {
  color: #555; /* Darker shade for hover effect. Adjust if needed */
}