/* Container styles */
.profile-container {
    display: flex;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #85C25C;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: -250px; /* Initially, push it to the left side */
    top: 0;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease; /* Transition left property */
}

/* Open sidebar when the sidebar-open class is applied */
.profile-container.sidebar-open .sidebar {
    left: 0;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Main content styles */
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Sidebar Toggle Button styles */
.sidebar-toggle {
    cursor: pointer;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #85C25C;
    z-index: 1;
}

.toggle-lines {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.toggle-lines span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

/* Animate the toggle button lines when the sidebar is open */
.profile-container.sidebar-open .toggle-lines span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
}

.profile-container.sidebar-open .toggle-lines span:nth-child(2) {
    opacity: 0;
}

.profile-container.sidebar-open .toggle-lines span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
}

/* Additional profile information */
.main-content {
    flex: 1;
    padding: 20px;
    position: relative;
}

.profile-info {
    position: absolute;
    top: 20px;
    left: 860px; /* Adjust the positioning as needed */
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    z-index: 1000; /* Optional: Ensure it's above other elements */
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 24px;
    margin: 0;
}

.user-username {
    font-size: 18px;
    margin: 0;
}
