body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 420px;
  text-align: center; 
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: white;
}

.wrapper-2 {
  width: 270px;
  text-align: left;
  margin-top: 20px; 
}

.wrapper-2 h2 {
  font-size: 15px;
  color: white;
  text-align: left;
}

.password-requirements {
  font-size: 8px;
  color: white; 
  margin-top: 1px;
}

.create-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; 
}

label {
  color: white;
}

.login-link {
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}